header{
  height: 50px;
  border-bottom: 4px solid red;
}
h1{
  text-align: right;
}
h1 span{
  float: left;
}
main{
  font-family: monospace;
}
.info{
  float: right;
  width: 30%;
}
.content{
  width: 68%;
  margin-right: 30%;
  padding: 1%;
}
.profile-image{
  width: 90%;
  border-radius: 50%;
  margin: 10px 5%;
}
.profile-image:hover{
  transition: 1s;
  transform: rotate(360deg);
}
footer{
  clear: both;
  text-align: center;
  border-top: 4px solid red;
}
@media screen and (min-width: 1100px) {
  header{
    width: 1000px;
    margin: 0 auto;
  }
  main{
    width: 1000px;
    margin: 0 auto;
  }
}
progress{
  margin-left: 50px;
}
.iam::first-letter{
  font-size: 3em;
  font-style: oblique;
  color: red;
}
