* {
  margin: 0;
  padding: 0;
}

h1, h3{
  text-align: center;
}

p{
  text-align: justify;
  padding: 3px;
}

body {
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  background-image: url('images/96283454.jpg');
}

img {
  width: 100%;
  border-radius: 10px;
}

img:hover{
  background: white;
  position: fixed;
  top: 10px;
  left: 0;
  width: 80%;
  margin: 0 10%;
}

section {
  margin: 10px 0;
}

ul{
  list-style: none;
}

li {
  display: inline;
  background: linear-gradient(to bottom, #393939 0%, #151515 100%);
  border-radius: 5px;
  padding: 3px;
}

#grid-floats {
  display: block;
  overflow: auto;
}

#grid-floats .grid-item {
  float: left;
  width: calc(24% - 6px);
  margin: 15px 0.5%;
  background-color: teal;
}

#grid-floats .grid-item:first-child {
  width: calc(48% - 6px);
}

#grid-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#grid-flex .grid-item {
  width: calc(24% - 6px);
  margin: 10px 0.5%;
  background-color: pink;
}
#grid-flex .grid-item:first-child {
  width: calc(48% - 6px);
  margin: 10px 0.5%;
  background-color: pink;
}

@media screen and (max-width: 600px) {
  #grid-floats .grid-item {
    width: calc(49% - 6px);
  }

  #grid-floats .grid-item:nth-child(2n){
    clear: left;
  }

  #grid-floats .grid-item:first-child, #grid-flex .grid-item:first-child {
    width: calc(99% - 6px);
  }

  #grid-flex .grid-item {
    width: calc(49% - 6px);
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #grid-floats .grid-item {
    width: calc(32% - 6px);
  }

  #grid-floats .grid-item:nth-child(3n){
    clear: left;
  }

  #grid-floats .grid-item:nth-child(1), #grid-floats .grid-item:nth-child(2),
  #grid-flex .grid-item:nth-child(1), #grid-flex .grid-item:nth-child(2) {
    width: calc(49% - 6px);
  }

  #grid-flex .grid-item {
    width: calc(32% - 6px);
  }
}

@media screen and (min-width: 1025px) {
  #grid-floats .grid-item:nth-child(4n){
    clear: left;
  }
}
